@charset "UTF-8";

/* 헤더 높이만큼 여백부여 */
body {
  padding-top: 150px;
}

/* 드롭 다운 호버로 내리기 */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* footer 상단 마진 */
footer {
  margin-top: 200px;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 에러 메세지 */
span[id$=".errors"], .error-msg{
	font-size: small;
    font-weight: bold;
    color: red;
} 

.table-rounded {
    border-radius: 10px;
    overflow: hidden;
}
.sidebar {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	height: 100%;
}