@charset "UTF-8";

/* 헤더 높이만큼 여백부여 */
body {
  padding-top: 150px;
}

/* 드롭 다운 호버로 내리기 */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* footer 상단 마진 */
footer {
  margin-top: 300px;
}