<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reserve.seat.notice.NoticeMapper">

<insert id="insertNotice">
<![CDATA[
	INSERT INTO notice
	(ntitle, ncontent, nwriter)
	VALUES
	(#{ntitle}, #{ncontent}, #{nwriter})
]]>

</insert>

<select id="AllNoticeList" resultType="com.reserve.seat.notice.NoticeDTO" >
	<![CDATA[
		SELECT * 
		FROM notice
		ORDER BY nno DESC
	]]>
</select>

<select id="detailNotice" parameterType="String" resultType="com.reserve.seat.notice.NoticeDTO">
	<![CDATA[
		SELECT * FROM notice WHERE nno = #{nno}
	]]>
</select>

<update id="updateNotice">
	<![CDATA[
		UPDATE notice
		SET ntitle = #{ntitle}, ncontent = #{ncontent}
		WHERE nno = #{nno}
	]]>
</update>

<delete id="deleteNotice" parameterType="String">
			<![CDATA[
				DELETE FROM notice
				WHERE nno = #{nno}
			]]>
</delete>


</mapper>