<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reserve.seat.mapper.PostMapper">
  <!-- 쿼리 보관 -->
  <sql id="criteria">
  	<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		<foreach collection="typeArr" item="type">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						ptitle LIKE concat_ws(#{ keyword }, '%', '%') <!-- '%' || #{ keyword } || '%' -->
					</when>
					<when test="type == 'W'.toString()">
						pwriter LIKE concat_ws(#{ keyword }, '%', '%') <!-- '%' || #{ keyword } || '%' -->
					</when>
					<when test="type == 'C'.toString()">
						pcontent LIKE concat_ws(#{ keyword }, '%', '%') <!-- '%' || #{ keyword } || '%' -->
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
  </sql>
  
  <select id="selectAllPost" resultType="com.reserve.seat.reserve.domain.PostDTO">
  	<![CDATA[
	  	SELECT *
	  	FROM post
	  	WHERE]]>
	  		<include refid="criteria"/>
	<![CDATA[
			2 > 1
		ORDER BY pno DESC
	  	LIMIT #{ amount } OFFSET #{ offset }
	]]>
  </select>
  
  <select id="totalCount" resultType="int">
  	<![CDATA[
  		SELECT COUNT(*) FROM post WHERE ]]> 
  			<include refid="criteria"/> 
  	<![CDATA[ pno > 0 ]]>
  </select>
  
  <select id="selectPost" resultType="com.reserve.seat.reserve.domain.PostDTO">
  	SELECT * 
  	FROM post 
  	WHERE pno = #{pno}
  </select>
  
  <insert id="insertPost" useGeneratedKeys="true" keyProperty="pno">
  	INSERT INTO post( 
  		pwriter, 
  		ptitle, 
  		pcontent, 
  		place, 
  		address, 
  		seatinfo, 
  		startdate, 
  		enddate, 
  		moddate) 
  	VALUES(
  		#{pwriter}, 
  		#{ptitle}, 
  		#{pcontent}, 
  		#{place}, 
  		#{address}, 
  		#{seatinfo}, 
  		#{startdate}, 
  		#{enddate}, 
  		#{moddate} )
  </insert>
  
  <delete id="deletePost">
  	DELETE FROM post WHERE pno = #{pno}
  </delete>
  
  <update id="updatePost">
  	UPDATE post
  	SET 
  		pwriter=#{pwriter}, 
  		ptitle=#{ptitle}, 
  		pcontent=#{pcontent}, 
  		place=#{place}, 
  		address=#{address}, 
  		seatinfo=#{seatinfo}, 
  		startdate=#{startdate}, 
  		enddate=#{enddate}, 
  		moddate=NOW() 
	WHERE pno = #{pno}
  </update>
  
  <update id="updateReplyCnt">
  	UPDATE tbl_board
  	SET reply_cnt = #{replyCnt} WHERE bno = #{bno}
  </update>
</mapper>