<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reserve.seat.mapper.ReplyMapper">

<!-- 쿼리 보관 -->
   <sql id="criteria">
  	<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		<foreach collection="typeArr" item="type">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						ntitle LIKE concat_ws(#{ keyword }, '%', '%') <!-- '%' || #{ keyword } || '%' -->
					</when>
					<when test="type == 'W'.toString()">
						nwriter LIKE concat_ws(#{ keyword }, '%', '%') <!-- '%' || #{ keyword } || '%' -->
					</when>
					<when test="type == 'C'.toString()">
						ncontent LIKE concat_ws(#{ keyword }, '%', '%') <!-- '%' || #{ keyword } || '%' -->
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
  </sql>

	<!-- 댓글 등록  -->
	<insert id="insertReply" parameterType="com.reserve.seat.reply.ReplyDTO">
	INSERT 
	INTO 
	reply(nno, rcontent, rwriter)
	VALUES
	(#{nno}, #{rcontent}, #{rwriter})
	</insert>
	
	<!-- 댓글 수정  -->
	<update id="updateReply" parameterType="com.reserve.seat.reply.ReplyDTO">
		UPDATE reply
		SET rcontent = #{rcontent}, modDate = #{now()}
		WHERE rno = #{rno} and nno = #{nno}
	</update>
	
	<!-- 댓글 삭제  -->
	<delete id="deleteReply" parameterType="com.reserve.seat.reply.ReplyDTO">
		DELETE FROM reply
		WHERE nno = #{nno} and rno = #{rno}
	</delete>
	
	<!-- 댓글 조회 -->
  <select id="selectReplyList" parameterType="String" resultType="com.reserve.seat.reply.ReplyDTO">
    SELECT * 
    FROM reply 
    WHERE nno = #{nno}
  </select>
  
  <!-- 전체 댓글 -->
  <select id="selectReplyAllPaging" resultType="com.reserve.seat.reply.ReplyDTO">
  <!-- query안에 꺽새가 있으면 <![CDATA 이런식으로 써줘야한다.  -->
    <![CDATA[
    	SELECT *
	  	FROM reply
	  	WHERE]]>
	  		<include refid="criteria"/>
	<![CDATA[
		pno = #{pno} AND rno > 0
		ORDER BY rno
	  	LIMIT #{ amount } OFFSET #{ offset }
    ]]>
  </select>
  
  <!-- 전체 댓글 수 조회 totalReply  -->
  <select id="totalReply" parameterType="int" resultType="int">
  		SELECT COUNT(rno) 
  		FROM reply
  		WHERE nno = #{nno}
  </select> 
</mapper>