<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reserve.seat.mapper.ReplyMapper">


	<!-- 댓글 등록  -->
	<insert id="insertReply" parameterType="com.reserve.seat.reply.ReplyDTO">
	INSERT 
	INTO 
	reply(nno, rcontent, rwriter)
	VALUES
	(#{nno}, #{rcontent}, #{rwriter})
	</insert>
	
	<!-- 댓글 수정  -->
	<update id="updateReply" parameterType="com.reserve.seat.reply.ReplyDTO">
		UPDATE reply
		SET rcontent = #{rcontent}, modDate = now()
		WHERE rno = #{rno} and nno = #{nno}
	</update>
	
	<!-- 댓글 삭제  -->
	<delete id="deleteReply" parameterType="int">
		DELETE FROM reply
		WHERE rno = #{rno}
	</delete>
	
	<!-- 댓글 조회 -->
<!--   <select id="selectReply" parameterType="int" resultType="com.reserve.seat.reply.ReplyDTO">
    SELECT * 
    FROM reply 
    WHERE rno = #{rno}
  </select> -->
  
  
</mapper>